@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent-red: #e51111;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-red: var(--accent-red);

  --font-londrina: var(--font-londrina-solid);
  --font-mansalva: var(--font-mansalva);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
